.footer {

    .menu {
        background-color: #f7f7f7;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .menu__ul {
            display: flex;
            justify-content: center;

            .menu__link {
                text-decoration: none;
                color: #848484;
                margin-left: 20px;

                &:hover {
                    color: #424242;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
}
            }
        }
    }

    .logo {
        p {
            color: #848484;
            font-weight: 700;
        }
    }

    .social {
        img {
            width: 50px;
        }
    }
}

@media (max-width: 710px) {

    .footer {
        .menu {
        flex-direction: column;

            .menu__ul {
                margin: 20px 0;
            }
        }
    }
    
}

.footer-credit {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    padding: 15px;


    p {
        text-align: center;
        color: #848484;

        a {
            text-decoration: none;
            color: #424242;
        }
    }

}