.footer {

    margin-top: 20px;

    .menu {
        background-color: #f7f7f7;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .menu__ul {
            display: flex;
            justify-content: center;

            .menu__link {
                text-decoration: none;
                color: #848484;
                margin-left: 20px;

                &:hover {
                    color: #424242;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
}
            }
        }
    }

    .logo {
        p {
            color: #848484;
            font-weight: 700;
        }
    }

    .social {
        img {
            width: 50px;
        }
    }
}