.menu {
    background-color: #0A1942;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;

    .menu__ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        .menu__link {
            text-decoration: none;
            color: #fff;
            margin-left: 20px;

            &:hover {
                color: #0288d1;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
    }
}

.logo {
    p {
        color: #fff;
        font-weight: 700;
    }
}

}