.menu {
    background-color: #0A1942;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;

    .menu__ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        .menu__link {
            text-decoration: none;
            color: #fff;
            margin-left: 20px;
        }
    }
}

.logo {
    p {
        color: #fff;
        font-weight: 700;
    }
}