.production {

	.production__wrap {
		display: flex;
		justify-content: space-between;
		
		padding: 150px 0 150px;

		.production__video {
			margin-right: 35px;
		}

		.production__text {

			h3 {
				font-size: 40px;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				letter-spacing: 0.8px;
				text-transform: uppercase;
				margin: -6px 0 50px;
				color: #111111;
			}

			p {
				color: #2c2c2c;
				line-height: 1.875;
			}
		}
			
	}
}

@media (max-width: 1470px) {

	.wrap {
		@include min-max(320px, 1043px, 0);
	}

	.production .production__wrap {

		padding: 150px 0 127px;

		.production__video {

			margin-right: 59px;

			iframe {
				width: 572px;
				height: 325px;
			}
		}

	}
}

@media (max-width: 1200px) {

	.production .production__wrap {
	    padding: 110px 0 80px;
	}
}

@media (max-width: 992px) {

	.production .production__wrap {
	    padding: 90px 0 60px;
	    flex-wrap: wrap-reverse;
	    justify-content: center;
	}

	.production .production__wrap .production__text h3 {
	    text-align: center;
	}

	.production .production__wrap .production__video {
	    margin-right: 0;
	    margin-top: 40px;
	}

	.production .production__wrap .production__text p {
	    padding: 0 15px;
	}
}

@media (max-width: 768px) {

	.production .production__wrap .production__video iframe {
		width: 475px;
    	height: 275px;
	}
}