.show-month {

    background-color: #f7f7f7;
    padding: 0 15px;

    h3 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-weight: 700;
    }

    .show-month__p {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            margin-bottom: 15px;
        }
    }
    
}