.container {
    min-width: 320px;
    max-width: 1368px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff!important;
}

.show-month__wrap {
    min-width: 320px;
    max-width: 900px;
    padding: 25px 0;
    box-sizing: border-box;
    margin: 0 auto;
}