$bgStudio: #ff9b6d;

.studio {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.studio__left, .studio__staff {
  grid-column: span 5;
}

.studio__right, .studio__persons {
  grid-column: span 11;
}

.studio__left {
  background-color: $bgStudio;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(255,255,255)" stroke-width="1"/></svg>');
  }

}

.studio__title {
  font-size: 48px;
  color: $white;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  margin: 62.3% 0 35.4% 46.2%;

  @media (min-width: 1500px) {
    @include dynamicText(300%, 96, 48, 1500px, 3000, 1500);
  }

}

.studio__right {
  padding-left: 9.6%;
  padding-top: 9.1%;
  padding-bottom: 4.3%;
  padding-right: 15.9%;
  display: flex;
}

.studio__information {
  flex-basis: 48%;
  margin-right: 4%;
}

.studio__description {
  flex-basis: 48%;
}

.studio__text {
  font-size: 18px;
  color: $colorText;
  line-height: 1;
  font-family: 'roboto_condensedlight';
  margin: 5.4% 0;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: 1500px) {
    @include dynamicText(112.5%, 36, 18, 1500px, 3000, 1500);
  }

}

.studio__text--bold-italic {
  font-family: 'roboto_condenseditalic';
}

.studio__img {
  display: block;
  width: 100%;
}

.studio__subtitle {
  font-size: 14px;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1.286;
  margin: 9.4% 0 5%;
  font-family: 'roboto_condensedbold';
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);

  @media (min-width: 1500px) {
    @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
  }

}

.studio__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 2.5% 0;
}

.studio__List-item {
  font-size: 12px;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1.167;

  @media (min-width: 1500px) {
    @include dynamicText(75%, 24, 12, 1500px, 3000, 1500);
  }

  &:first-child {
    margin-right: 9.4%;
  }

}

.studio__staff {
  padding-left: 35.4%;
  padding-right: 6.4%;
  padding-top: 12.9%;
  padding-bottom: 19.3%;
}

.studio__staff-text {
  font-size: 14px;
  color: $colorText;
  line-height: 1;
  font-family: 'roboto_condensedlight';
  margin: 7.4% 0;

  @media (min-width: 1500px) {
    @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.studio__staff-title {
  font-size: 14px;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'roboto_condensedbold';
  margin: 0 0 7.4% 0;

  @media (min-width: 1500px) {
    @include dynamicText(87.5%, 28, 14, 1500px, 3000, 1500);
  }

}

.studio__persons {
  padding-top: 5.7%;
  padding-right: 15.9%;
}

@media (max-width: 1500px) {

  .studio__right, .studio__persons {
    padding-right: 2%;
  }

}

@media (max-width: 980px) {

  .studio__left {
    grid-column: span 16;
  }

  .studio__right {
    grid-column: span 16;
    padding-left: 2%;
  }

  .studio__title {
    margin: 10% 0 30% 10%;
  }

  .studio__staff {
    padding-left: 4%;
    padding-right: 4%;
  }

}


@media (max-width: 768px) {

  .studio__title {
    margin-bottom: 40%;
    font-size: 30px;
  }

  .studio__staff {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .studio__persons {
    padding-top: 2%;
  }

  .studio__staff-title, .studio__staff-text {
    margin: 3% 0;
  }

}

@media (max-width: 560px) {

  .studio {
    grid-template-columns: 1fr;
  }

  .studio__left, .studio__right, .studio__staff, .studio__persons {
    grid-column: span 1;
  }

  .studio__staff, .studio__right {
    padding-left: 5%;
    padding-right: 5%;
  }

  .studio__right {
    display: block;
  }

  .studio__persons {
    padding-right: 5%;
    padding-left: 5%;
  }

}